#map {
  height: 100vh;
  width: 100%;
}

/* Marker styles */
.boat-marker {
  stroke: #0066ff;
  stroke-width: 2;
  fill: #0066ff;
  fill-opacity: 0.7;
}

/* Arrow styles */
.direction-arrow {
  stroke: red;
  stroke-width: 2;
}

.boat-icon {
  background: none;
}

.boat-icon div {
  transition: transform 0.3s ease-in-out;
} 